<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar times</title>
</head>
<body>
    <h1>Cadastrar times</h1>
    <form method="post" action="/cadastrar_times">
        <label for="nome">Nome </label>
        <input type="text" name="nome" /> <br/>
        <label for="cidade">Cidade</label>
        <input type="cidade" name="cidade" /> <br/>
        <label for="estado">Estado</label>
        <input type="estado" name="estado" /> <br/>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
